# Ambiente Virtual
venv/
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.cache/

# Segredos e Configurações
.env
.streamlit/
secrets.toml

# Dados
*.csv
# Ou apenas o específico: vagas_reais.csv